# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://mzkanjhapnqzdltqmitj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_Y61rQMjnZGTnrV7ucTggSg_bm8ELw5E

# Evolution API v2 Integration (WhatsApp)
WHATSAPP_API_URL=http://147.93.9.74:8080
WHATSAPP_API_KEY=easymob_secret_token_2026
WHATSAPP_INSTANCE=easymob

EVOLUTION_API_URL=http://147.93.9.74:8080
EVOLUTION_API_KEY=easymob_secret_token_2026
EVOLUTION_INSTANCE=easymob